<div class="info_div"><%= page.activerepeaters %>:</div>
<div class="ii_div">145.650/145.050 FM - UR0WVA;</div>
<div class="ii_div">438.800/431.200 FM/DN C4FM - UR0WUA, CTCSS 82.5;</div>
<div class="ii_div">439.450/431.850 DMR - UR0WUB;</div>
<div class="ii_div">433.425 FM - CTCSS 82.5, ECHO;</div>
<div class="ii_div">27.110 FM - CB ECHO.</div>

<div class="info_div"><%= page.operatingfrequencies %>:</div>
<div class="ii_div">145.500 FM - вызывной；</div>
<div class="ii_div">145.450 FM - прямой;</div>
<div class="ii_div">432.500 FM - вызывной;</div>
<div class="ii_div">433.500 FM - вызывной;</div>
<div class="ii_div">144.800 FM - APRS.</div>

<div class="info_div"><%= page.conversationalgroups %>:</div>
<div class="ii_div_min_title">DMR:</div>
<div class="ii_div">2555 TS2 - Украина;</div>
<div class="ii_div">25514 TS1 - Львов;</div>
<div class="ii_div">25577 TS1 - Азимут.</div>

<div class="ii_div_min_title">Wires-X C4FM:</div>
<div class="ii_div">41270 - Комната Украина;</div>
<div class="ii_div">27053 - Шлюз в DMR/D-STAR;</div>
<div class="ii_div">31270 - Львовский узел.</div>

<div class="info_div"><%= page.left_menu[4] %>:</div>
<div class="ii_div">UR0WVA - 21.00 понедельник;</div>
<div class="ii_div">UR0WUA - 21.00 воскресенье;</div>
<div class="ii_div">3.612 LSB - 8.00 воскресене；</div>
<div class="ii_div">27.110 FM - 20.45 (спринт-группа).</div>