<% if(isAdm === true){ %>
<link rel="stylesheet" type="text/css" href="/style/admin/admin.css">
<script type="text/javascript" src="/script/admin/admin.js"></script>	
<% } %>
<% if(isAdm === true){ %>
<div class="adminMiniPanel">
	<div class="aminMiniBtn defaultLeft"></div>
	<a href="/newNews" target="_blank"> <button class="aminMiniBtn" id="newNewsBtn" title="Добавить новость"></button> </a>
	<a href="/PanelUsers" target="_blank"> <button class="aminMiniBtn" id="setUsersBtn" title="Управление пользователями" onclick=""></button> </a>
	<a href="/PanelCalendar" target="_blank"> <button class="aminMiniBtn" id="setCalendarBtn" title="Управление календарем" onclick=""></button> </a>
	<a href="/PanelIndex" target="_blank"> <button class="aminMiniBtn" id="getPanel" title="Панель администратора"></button> </a>
	<div class="aminMiniBtn defaultRight"></div>
</div>
<% } %>	