<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="Description" content="Радиоклуб АЗИМУТ">
	<title>Про нас</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/style/loader.css">
	<link rel="stylesheet" type="text/css" href="/style/global.css">
	<link rel="stylesheet" type="text/css" href="/style/global.min.css">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/css/lightgallery.css">
	<link rel="stylesheet" type="text/css" href="/style/about/about.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/script/jquery-ui.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/js/lightgallery-all.min.js"></script>
	<script type="text/javascript" src="/script/index.js"></script>
	<% if(sessionUser === undefined){ %>
		<script type="text/javascript" src="/script/loginMethod.js"></script>	
	<% } %>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#lightgallery').lightGallery({
				pager: true
			});
		});
	</script>
</head>
<body>
	<div class="wrapper">
		<div id="loader-wrapper">
			<div id="loader">
				<div class="pulse"></div>
			</div>
			<div class="loader-section section-left"></div>
			<div class="loader-section section-right"></div>

		</div>
	</div>
	<header>	
		<canvas id="canvas"></canvas>
		<canvas id="spectr"></canvas>
		<a href="/">
			<img src="../../../img/logo1.png" id="logotype">
		</a>				
		<h1>Радиоклуб <b>Азимут</b></h1>		
		<!-- <div class="toScroll">
			<div class="scroll-arrow"></div>
			<div class="scroll-arrow"></div>
			<div class="scroll-arrow"></div>
		</div> -->
		
		<div id="head_banner">QTH: Lviv, UA, KNZ9AU</div>
		<nav> 
			<a href="/">Главная</a> 
			<a href="/about">О нас</a> 
			<a href="/news">Новости</a> 
			<a href="#" class="menu_to_left">VHF</a> 
			<a href="#" class="menu_to_right">HF</a> 
			<a href="#">Форум</a> 
			<a href="#">Барахолка</a> 
			<a href="#">Контакты</a> 
		</nav>
	</header>
	<main class="wrapper">
		<div class="nav_menu left">
			<div class="nav_wrapper">
				<div class="wrapper_title">Навигация</div>
				<div class="pre_line"></div>
				<a href="#" id="activity">Мероприятия</a>
				<a href="#" id="calendar">Календарь</a>
				<a href="#" id="Numeral">Цифра</a>
				<a href="#" id="Communities">Сообщества</a>
				<a href="#" id="Round_tables">Круглые столы</a>
				<a href="#" id="market">Барахолка</a>
				<a href="#" id="miscellanea">Разное</a>
				<a href="#" id="Technical_section">Технический раздел</a>				
			</div>
			<div class="nav_wrapper">
				<div class="wrapper_title">Информация</div>
				<div class="pre_line"></div>
				<div class="info_div">Действующие репитеры:</div>
				<div class="ii_div">Тест репитер 1</div>
				<div class="ii_div">Тест репитер 2</div>
				<div class="ii_div">Тест репитер 3</div>
				<div class="ii_div">Тест репитер 4</div>
				<div class="info_div">Действующие частоты:</div>
				<div class="ii_div">27.1100</div>
				<div class="ii_div">37.7750</div>
				<div class="ii_div">42.7500</div>
				<div class="ii_div">42.9875</div>
				<div class="ii_div">145.2000</div>
				<div class="ii_div">145.3500</div>
				<div class="ii_div">145.4250</div>
				<div class="ii_div">148.4250</div>
				<div class="info_div">Круглые столы (Львов):</div>
				<div class="ii_div">Тест стол</div>
				<div class="ii_div">Рыцари</div>
				<div class="ii_div">MicroGIS</div>
				<div class="ii_div">Phalcon</div>
			</div>
		</div>
		<div class="nav_menu right">
			<% if(sessionUser !== undefined){ %>
			<div class="nav_wrapper" id="users_wraper">
				<div class="wrapper_title">Пользователь</div>
				<div class="pre_line"></div>
				<div class="nav_loader"></div>
				<div class="userAVA" style="background-image: url(../../../data/avatars/default.gif)"></div>
				<div class="userDATA">
					<div class="userLogin"><%= sessionUser %></div>
					<a href="/getProfile" class="userButton">Профиль</a>
				</div>
				<a href="/logout" class="userlogoutInBlock" title="Выход">Выход</a>		
			</div>
			<% } else { %>
			<div class="nav_wrapper">
				<div class="wrapper_title">Авторизация</div>
				<div class="pre_line"></div>
				<div class="nav_loader"></div>
				<input type="text" name="emailRadio" id="emailRadio" class="authdata" placeholder="Логин">
				<input type="password" name="passwordRadio" id="passwordRadio" class="authdata" placeholder="Пароль">
				<input type="button" value="Авторизация" class="auth_btn" id="signIn" onclick="signIn()">
				<a href="/register" class="NewPassLink">Регистрация</a>
				<a href="#" class="NewPassLink">Забыли пароль?</a>
			</div>
			<% } %>  		

			<div class="nav_wrapper">
				<div class="wrapper_title">APRS</div>
				<div class="pre_line"></div>
				<a class="none_text" href="https://www.aprsdirect.com/center/49.82786,24.03119/zoom/11/time/60" target="_blank">
					<img src="../../../img/aprs.png" width="228">
					<div class="a_btn">Открыть карту</div>
				</a>
			</div>
		</div>

		<div class="navigator">
			<a href="/" id="nav_home" class="navigator_btn">Главная</a>
			<a href="/about" id="nav_about" class="navigator_btn selected_nav">О нас</a>
		</div>		


		<section id="section_01" class="section_data">
			<h2>О нас</h2>
			<p>
				Наше расположение: ул. Чкалова 17. Техшкола. г. Токмак, Запорожской обл.

				QTH locator : г. Токмак - KN77UG: Long : 35.72067 E (35° 43' 14'' E); Lat : 47.25593 N (47° 15' 21'' N) 
				URDA award list: ZP-28 г. Токмак; ZP-29 Токмакский р-н.

				Радиоклуб создан в День Радио - 7 мая 2009 г. В этот же день в городе была открыта коллективная р/станция UR3QXX. Членами радиоклуба являются более 70-и человек из разных регионов Запорожской области.

				р/к "Сармат" использует символику ЛРУ, ЗОО ЛРУ и собственную, для размещения на личной QSL карточке, аппаратуре, и любой другой персональной атрибутике.

				Клубной символикой имеют право пользоваться только члены RCS, и Совет Клуба для проведения своих мероприятий.

				р/к "Сармат" (RCS), добровольный Клуб радиолюбителей. 

				Членство в р/к "Сармат" индивидуальное. 

				Членами р/к "Сармат" могут быть граждане независимо от национальности, партийности, вероисповедания, социального положения, имеющие радиолюбительский позывной сигнал, выданный ГИЭ, признающие настоящий Устав и поддерживающие материально, выполняющим требования Кодекса чести, общечеловеческой и радиолюбительской этики,

				Прием в члены р/к "Сармат" производится в соответствии с заявлением вступающего на общем собрании радиоклуба открытым голосованием.

				Цель р/к «Сармат» - обеспечение заинтересованности своих членов в развитии радиолюбительства и технического творчества в области радио, расширения связей и контактов с радиолюбителями Украины и других стран мира, утверждение идеалов мира и дружбы между народами всего мира.

				Задачи р/к «Сармат»:
				- популяризация идей Радио, помощь, распространение и популяризация научных и технических знаний по радиотехнике;
				- содействие развитию любительского коротковолнового (КВ), ультракоротковолнового (УКВ), спутникового, цифрового и других видов связи;
				- помощь государственным органам при стихийных бедствиях, авариях и других чрезвычайных ситуациях.

				Основными направлениями работы Клуба выбраны: экспедиции, работа в соревнованиях, охота за дипломами. 
			</p>			
		</section>	

		<div class="cont">
				<div class="page-head">
					<h1>Фотогалерея</h1>
				
					<div class="demo-gallery">
						<ul id="lightgallery">
							<li data-responsive="https://sachinchoolur.github.io/lightGallery/static/img/1-375.jpg 375, https://sachinchoolur.github.io/lightGallery/static/img/1-480.jpg 480, https://sachinchoolur.github.io/lightGallery/static/img/1.jpg 800" data-src="https://sachinchoolur.github.io/lightGallery/static/img/1-1600.jpg"
							data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
							<a href="">
								<img class="img-responsive" src="https://sachinchoolur.github.io/lightGallery/static/img/thumb-1.jpg">
								<div class="demo-gallery-poster">
									<img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
								</div>
							</a>
						</li>
						<li data-responsive="https://sachinchoolur.github.io/lightGallery/static/img/2-375.jpg 375, https://sachinchoolur.github.io/lightGallery/static/img/2-480.jpg 480, https://sachinchoolur.github.io/lightGallery/static/img/2.jpg 800" data-src="https://sachinchoolur.github.io/lightGallery/static/img/2-1600.jpg"
						data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
						<a href="">
							<img class="img-responsive" src="https://sachinchoolur.github.io/lightGallery/static/img/thumb-2.jpg">
							<div class="demo-gallery-poster">
								<img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
							</div>
						</a>
					</li>
					<li data-responsive="https://sachinchoolur.github.io/lightGallery/static/img/13-375.jpg 375, https://sachinchoolur.github.io/lightGallery/static/img/13-480.jpg 480, https://sachinchoolur.github.io/lightGallery/static/img/13.jpg 800" data-src="https://sachinchoolur.github.io/lightGallery/static/img/13-1600.jpg"
					data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
					<a href="">
						<img class="img-responsive" src="https://sachinchoolur.github.io/lightGallery/static/img/thumb-13.jpg">
						<div class="demo-gallery-poster">
							<img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
						</div>
					</a>
				</li>
				<li data-responsive="https://sachinchoolur.github.io/lightGallery/static/img/4-375.jpg 375, https://sachinchoolur.github.io/lightGallery/static/img/4-480.jpg 480, https://sachinchoolur.github.io/lightGallery/static/img/4.jpg 800" data-src="https://sachinchoolur.github.io/lightGallery/static/img/4-1600.jpg"
				data-sub-html="<h4>Coniston Calmness</h4><p>Beautiful morning</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
				<a href="">
					<img class="img-responsive" src="https://sachinchoolur.github.io/lightGallery/static/img/thumb-4.jpg">
					<div class="demo-gallery-poster">
						<img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
					</div>
				</a>
			</li>
		</ul>
		<span class="small">Нажмите на изображение для просмотра</span>
	</div>
</div>
	</main>

	<div id="stop" class="scrollTop"></div>

	<footer class="flex-rw">
		<ul class="footer-list-top">
			<li>
				<h4 class="footer-list-header">Навигация</h4></li>
				<li><a href='/about' class="generic-anchor footer-list-anchor" itemprop="significantLink">Про нас</a></li>
				<li><a href='/promos.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">Новости</a></li>
				<li><a href='/retailers/new-retailers.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">VHF</a></li>
				<li><a href='/job-openings.html' itemprop="significantLink" class="generic-anchor footer-list-anchor">HF</a></li>
				<li><a href='/shop/about-show-schedule' class="generic-anchor footer-list-anchor" itemprop="significantLink">Форум</a></li>
				<li><a href='/shop/about-show-schedule' class="generic-anchor footer-list-anchor" itemprop="significantLink">Барахолка</a></li>
				<li><a href='/shop/about-show-schedule' class="generic-anchor footer-list-anchor" itemprop="significantLink">Контакты</a></li>
			</ul>
			<!-- <ul class="footer-list-top">
				<li>
					<h4 class="footer-list-header">The Gift Selection</h4>
				</li>


				<li><a href='/Angels/cat/id/70' class="generic-anchor footer-list-anchor">ANGEL FIGURINES</a></li>
				<li><a href='/Home-Decor/cat/id/64' class="generic-anchor footer-list-anchor">HOME DECOR</a></li>
				<li><a href='/Mugs/cat/id/32' class="generic-anchor footer-list-anchor">MUGS</a></li>
				<li><a href='/Pet-Lover/cat/id/108' class="generic-anchor footer-list-anchor">PET LOVER</a></li>
				<li><a href='/Ladies-Accessories/cat/id/117' class="generic-anchor footer-list-anchor" target="_blank">HANDBAGS & JEWELRY</a></li>
			</ul> -->
			<ul class="footer-list-top">
				<li id='help'>
					<h4 class="footer-list-header">Помощь</h4></li>
					<li><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">Контакты</a></li>
					<li><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">FAQ</a></li>
					<li id='find-a-store'><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">Карта сайта</a></li>
					<li id='find-a-store'><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">Условия пользования</a></li>
					<li id='find-a-store'><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">Политика конфединцыальности</a></li>
				</ul>
				<section class="footer-social-section flex-rw">
					<span class="footer-social-overlap footer-social-connect">
						Мы в Соц. Сетях
					</span>
					<span class="footer-social-overlap footer-social-icons-wrapper">						
						<a href="https://www.facebook.com/paviliongift" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>				
						<a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
						<a href="https://www.youtube.com/channel/UCYgUODvd0qXbu_LkUWpTVEg" class="generic-anchor" target="_blank" title="Youtube" itemprop="significantLink"><i class="fa fa-youtube"></i></a>
						<a href="https://plus.google.com/+Paviliongift/posts" class="generic-anchor" target="_blank" title="Google Plus" itemprop="significantLink"><i class="fa fa-google-plus"></i></a>
					</span>
				</section>
				<section class="footer-bottom-section flex-rw">
					<div class="footer-bottom-wrapper">   
						<i class="fa fa-copyright" role="copyright">

						</i> 2019 Радиоклуб "Азимут" <address class="footer-address" role="company address">Львов, UA</address><span class="footer-bottom-rights"></span>
					</div>
					<div class="footer-bottom-wrapper">
						
					</div>
				</section>
			</footer>
		</body>
		</html>