<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="Description" content="Радиоклуб АЗИМУТ">
	<title>Ридиоклуб "Азимут"</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/style/loader.css">
	<link rel="stylesheet" type="text/css" href="/style/global.css">
	<link rel="stylesheet" type="text/css" href="/style/global.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/script/jquery-ui.js"></script>
	<script type="text/javascript" src="/script/index.js"></script>
	
</head>
<body>	
	<div class="wrapper">
		<div id="loader-wrapper">
			<div id="loader"></div>
			<div class="loader-section section-left"></div>
			<div class="loader-section section-right"></div>

		</div>
	</div>
	<header>	
		<canvas id="canvas"></canvas>
		<a href="/">
			<img src="../../../img/logo1.png" id="logotype">
		</a>				
		<h1>Радиоклуб <b>Азимут</b></h1>		
		<div class="toScroll">
			<div class="scroll-arrow"></div>
			<div class="scroll-arrow"></div>
			<div class="scroll-arrow"></div>
		</div>
		
		<div id="head_banner">QTH: Lviv, UA, KNZ9AU</div>
		<nav> 
			<a href="#">Про нас</a> 
			<a href="#">Новости</a> 
			<a href="#">VHF</a> 
			<a href="#" class="menu_to_left">HF</a> 
			<a href="#" class="menu_to_right">Форум</a> 
			<a href="#">Барахолка</a> 
			<a href="#">Контакты</a> 
		</nav>
	</header>
	<main class="wrapper">
		<div class="nav_menu left">
			<div class="nav_wrapper">
				<div class="wrapper_title">Навигация</div>
				<div class="pre_line"></div>
				<a href="#" id="activity">Мероприятия</a>
				<a href="#" id="calendar">Календарь</a>
				<a href="#" id="Numeral">Цифра</a>
				<a href="#" id="Communities">Сообщества</a>
				<a href="#" id="Round_tables">Круглые столы</a>
				<a href="#" id="market">Барахолка</a>
				<a href="#" id="miscellanea">Разное</a>
				<a href="#" id="Technical_section">Технический раздел</a>
				
			</div>
		</div>
		<div class="nav_menu right">
			<div class="nav_wrapper">
				<div class="wrapper_title">Авторизация</div>
				<div class="pre_line"></div>
				<input type="text" name="emailRadio" class="authdata" placeholder="Логин">
				<input type="password" name="passwordRadio" class="authdata" placeholder="Пароль">
				<input type="button" value="Авторизация" class="auth_btn" >
				<a href="/register" class="NewPassLink">Регистрация</a>
				<a href="#" class="NewPassLink">Забыли пароль?</a>
			</div>
			<div class="nav_wrapper">
				<div class="wrapper_title">Информация</div>
				<div class="pre_line"></div>
				<div class="info_div">Действующие репитеры:</div>
				<div class="ii_div">Тест репитер 1</div>
				<div class="ii_div">Тест репитер 2</div>
				<div class="ii_div">Тест репитер 3</div>
				<div class="ii_div">Тест репитер 4</div>
				<div class="info_div">Действующие частоты:</div>
				<div class="ii_div">27.1100</div>
				<div class="ii_div">37.7750</div>
				<div class="ii_div">42.7500</div>
				<div class="ii_div">42.9875</div>
				<div class="ii_div">145.2000</div>
				<div class="ii_div">145.3500</div>
				<div class="ii_div">145.4250</div>
				<div class="ii_div">148.4250</div>
				<div class="info_div">Круглые столы (Львов):</div>
				<div class="ii_div">Тест стол</div>
				<div class="ii_div">Рыцари</div>
				<div class="ii_div">MicroGIS</div>
				<div class="ii_div">Phalcon</div>
			</div>

			<div class="nav_wrapper">
				<div class="wrapper_title">APRS</div>
				<div class="pre_line"></div>
				<a class="none_text" href="https://www.aprsdirect.com/center/49.82786,24.03119/zoom/11/time/60" target="_blank">
					<img src="../../../img/aprs.png" width="228">
					<div class="a_btn">Открыть карту</div>
				</a>
			</div>
		</div>
		<section id="section_01" class="section_data">
			<h2>Солнечная электростанция UX1RX.</h2>
			<p>В селе Дмитровка Черниговской области предприниматель и радиолюбитель Анатолий Савченко UX1RX установил солнечную электростанцию мощностью 8 кВт и за первые две недели, благодаря продаже электроэнергии по «зеленому» тарифу, заработал 4000 гривен. О собственной СЭС рационализатор мечтал давно — дождался, когда цены на панели значительно снизились, и реализовал проект. «Солнечная станция, состоящая из 36 панелей, занимает площадь 12х6 м. Смонтировала СЭС киевская фирма, в которой были приобретены солнечные панели.» Компьютерная программа показывает общее количество произведенной электроэнергии, то, что потребил дом, и продано на энергорынок, -рассказывает Анатолий Савченко. — Диаграмма на мониторе доказывает, что солнечная станция работает даже в пасмурную погоду и в дождь — электроэнергии вырабатывается меньше, но на внутренние нужды хватит, а вот в снежный день СЭС производит совсем мало, но надеюсь на поддержание комфортной температуры в утепленном доме». 
				Если же поставить 30-киловаттную СЭС, то даже снег не помешает производить электроэнергию на продажу, уверен он.
				«В Дмитровке нельзя установить СЭС мощностью 30 кВт через устаревшие линии, которые просто» не потянут «передачу производимой электроэнергии, — объясняет предприниматель. — ОАО «Черниговоблэнерго» достаточно оперативно подключило солнечную электростанцию: заявление написал — и они приехали — даже не ожидал, что это будет так быстро ».
				Анатолий Савченко старался заключить договор в 2018 году. «Теперь мне до 2030 года будут платить по 18 центов за киловатт-час (это 5,91 грн, а за минусом налогов — 4,75 грн — авт.), — объясняет он. — В следующем году было бы уже по 16 центов за кВт-ч ».
			Солнечная станция Анатолия Савченко начала работать 15 августа. За две первые недели работы СЭС после вычета стоимости потребленной электроэнергии, а также около 20% налога Анатолий Савченко заработал 4000 гривен. «Когда смотришь, как от солнца деньги капают, на душе становится теплее, — улыбается он. — Это — пассивный доход и за ним — будущее ».</p>

			<div class="section_date">
				01.02.2019 22:43
				<span>Admin</span>
			</div>
		</section>
		<section id="section_02" class="section_data">
			<h2>О дипломной программе DXCC.</h2>
			<p>Получение престижных наград программы DXCC — это результат огромного опыта работы в эфире и создания комплекса технических и программных средств для проведения дальних радиосвязей, в том числе применения эффективных антенн и приёмо-передающих устройств, современных цифровых методов обработки сигналов и новейших интернет-технологий. Дипломы и доски программы DXCC являются одним из наиболее значимых подтверждений достижений их владельца в области радиолюбительской связи. 
				В 1935 году W1CBD, Clinton B. DeSoto, в своей статье «Как считать сработанные страны — новая система учёта», опубликованной в журнале QST, издаваемом национальной организацией радиолюбителей США (ARRL), предложил исходить из того, что любое географическое и политическое образование необходимо рассматривать как «страну» в радиолюбительском понимании этого слова, исходя из устанавливаемых критериев. В 1937 году список стран (DXCC List), сформированный по этому принципу, впервые был опубликован и с тех пор уже более 60 лет является стандартом для радиолюбителей всего мира.
			Вершиной дипломной программы DXCC по праву является Кубок “The DeSoto Cup”, которым ежегодно награждается обладатель высшего результата в DXCC Challenge.</p>
			<div class="section_date">
				01.02.2019 22:43
				<span>Admin</span>
			</div>
		</section>
		<section id="section_03" class="section_data">
			<h2>Достижения по программе DXCC в LoTW.</h2>
			<p>
				<img class="alignleft size-thumbnail wp-image-622" src="http://krrc.org.ua/wp-content/uploads/2018/04/lotw-150x104.jpg" alt="" width="150" height="104" srcset="http://krrc.org.ua/wp-content/uploads/2018/04/lotw-150x104.jpg 150w, http://krrc.org.ua/wp-content/uploads/2018/04/lotw.jpg 250w" sizes="(max-width: 150px) 100vw, 150px">
				Обновление результатов происходит два раза в год: 31 декабря и 30 июня.
				Для того, чтобы ваши результаты были в таблице делаем следующее:
				• заходим на свой аккаунт в LoTW и нажимаем Awards;
				• нажимаем Select DXCC Award Accaunt;
				• щелкаем правой кнопкой мыши и выбираем «Сохранить как»;
				• внизу открывшегося окна должно быть: «Тип файла» (веб-страница полностью);
				• нажимаем кнопку «Сохранить».
				Файлы присылаем на Клубный имеил: krrc@i.ua
			Достижениях радиолюбителей Кировоградской области по дипломной программе DXCC в LoTW на 01.01.2019г.</p>
			<img src="http://krrc.org.ua/wp-content/uploads/2019/01/cc-lt-768x436.jpg">
			<div class="section_date">
				01.02.2019 22:43
				<span>Admin</span>
			</div>
		</section>	

		<div class="addOldNews">Показать больше...</div>	
	</main>

	<div id="stop" class="scrollTop"></div>

	<footer class="flex-rw">
		<ul class="footer-list-top">
			<li>
				<h4 class="footer-list-header">Навигация</h4></li>
				<li><a href='/shop/about-mission' class="generic-anchor footer-list-anchor" itemprop="significantLink">Про нас</a></li>
				<li><a href='/promos.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">Новости</a></li>
				<li><a href='/retailers/new-retailers.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">VHF</a></li>
				<li><a href='/job-openings.html' itemprop="significantLink" class="generic-anchor footer-list-anchor">HF</a></li>
				<li><a href='/shop/about-show-schedule' class="generic-anchor footer-list-anchor" itemprop="significantLink">Форум</a></li>
				<li><a href='/shop/about-show-schedule' class="generic-anchor footer-list-anchor" itemprop="significantLink">Барахолка</a></li>
				<li><a href='/shop/about-show-schedule' class="generic-anchor footer-list-anchor" itemprop="significantLink">Контакты</a></li>
			</ul>
			<!-- <ul class="footer-list-top">
				<li>
					<h4 class="footer-list-header">The Gift Selection</h4>
				</li>


				<li><a href='/Angels/cat/id/70' class="generic-anchor footer-list-anchor">ANGEL FIGURINES</a></li>
				<li><a href='/Home-Decor/cat/id/64' class="generic-anchor footer-list-anchor">HOME DECOR</a></li>
				<li><a href='/Mugs/cat/id/32' class="generic-anchor footer-list-anchor">MUGS</a></li>
				<li><a href='/Pet-Lover/cat/id/108' class="generic-anchor footer-list-anchor">PET LOVER</a></li>
				<li><a href='/Ladies-Accessories/cat/id/117' class="generic-anchor footer-list-anchor" target="_blank">HANDBAGS & JEWELRY</a></li>
			</ul> -->
			<ul class="footer-list-top">
				<li id='help'>
					<h4 class="footer-list-header">Помощь</h4></li>
					<li><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">Контакты</a></li>
					<li><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">FAQ</a></li>
					<li id='find-a-store'><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">Карта сайта</a></li>
					<li id='find-a-store'><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">Условия пользования</a></li>
					<li id='find-a-store'><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">Политика конфединцыальности</a></li>
				</ul>
				<section class="footer-social-section flex-rw">
					<span class="footer-social-overlap footer-social-connect">
						Мы в Соц. Сетях
					</span>
					<span class="footer-social-overlap footer-social-icons-wrapper">						
						<a href="https://www.facebook.com/paviliongift" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>				
						<a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
						<a href="https://www.youtube.com/channel/UCYgUODvd0qXbu_LkUWpTVEg" class="generic-anchor" target="_blank" title="Youtube" itemprop="significantLink"><i class="fa fa-youtube"></i></a>
						<a href="https://plus.google.com/+Paviliongift/posts" class="generic-anchor" target="_blank" title="Google Plus" itemprop="significantLink"><i class="fa fa-google-plus"></i></a>
					</span>
				</section>
				<section class="footer-bottom-section flex-rw">
					<div class="footer-bottom-wrapper">   
						<i class="fa fa-copyright" role="copyright">

						</i> 2019 Радиоклуб "Азимут" <address class="footer-address" role="company address">Львов, UA</address><span class="footer-bottom-rights"></span>
					</div>
					<div class="footer-bottom-wrapper">
						
					</div>
				</section>
			</footer>
		</body>
		</html>