<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="Description" content="Радиоклуб АЗИМУТ">
	<title>Ридиоклуб "Азимут"</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">

	<link rel="stylesheet" type="text/css" href="/style/global.css">
	<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300' rel='stylesheet' type='text/css'> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/script/jquery-ui.js"></script>
	<script type="text/javascript" src="/script/index.js"></script>
	
</head>
<body>
	<header>	
		<img src="../../../img/logo.png" id="logotype">
		<!-- <h1>Радиоклуб "Азимут"</h1> -->
		<div id="head_banner">QTH: Lviv, UA, KNZ9AU</div>
		<nav> 
			<a href="#">Про нас</a> 
			<a href="#">Новости</a> 
			<a href="#">VHF</a> 
			<a href="#">HF</a> 
			<a href="#">Форум</a> 
			<a href="#">Барахолка</a> 
			<a href="#">Контакты</a> 
		</nav>
	</header>
	<main class="wrapper">
		<div class="nav_menu left">
			<div class="nav_wrapper">
				<div class="wrapper_title">Навигация</div>
				<div class="pre_line"></div>
				<a href="#" id="activity">Мероприятия</a>
				<a href="#" id="calendar">Календарь</a>
				<a href="#" id="Numeral">Цифра</a>
				<a href="#" id="Communities">Сообщества</a>
				<a href="#" id="Round_tables">Круглые столы</a>
				<a href="#" id="market">Барахолка</a>
				<a href="#" id="miscellanea">Разное</a>
				<a href="#" id="Technical_section">Технический раздел</a>
				
			</div>
		</div>
		<div class="nav_menu right">
			<div class="nav_wrapper">
				<div class="wrapper_title">Информация</div>
				<div class="pre_line"></div>
				<div class="info_div">Действующие репитеры:</div>
				<div class="ii_div">Тест репитер 1</div>
				<div class="ii_div">Тест репитер 2</div>
				<div class="ii_div">Тест репитер 3</div>
				<div class="ii_div">Тест репитер 4</div>
				<div class="info_div">Действующие частоты:</div>
				<div class="ii_div">27.1100</div>
				<div class="ii_div">37.7750</div>
				<div class="ii_div">42.7500</div>
				<div class="ii_div">42.9875</div>
				<div class="ii_div">145.2000</div>
				<div class="ii_div">145.3500</div>
				<div class="ii_div">145.4250</div>
				<div class="ii_div">148.4250</div>
				<div class="info_div">Круглые столы (Львов):</div>
				<div class="ii_div">Тест стол</div>
				<div class="ii_div">Рыцари</div>
				<div class="ii_div">MicroGIS</div>
				<div class="ii_div">Phalcon</div>
			</div>

			<div class="nav_wrapper">
				<div class="wrapper_title">APRS</div>
				<div class="pre_line"></div>
				<a class="none_text" href="https://www.aprsdirect.com/center/49.82786,24.03119/zoom/11/time/60" target="_blank">
					<img src="../../../img/aprs.png" width="228">
					<div class="a_btn">Открыть карту</div>
				</a>
			</div>
		</div>
		<section id="section_01">
			<h2> This is section 1</h2>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia 
			dolor sit amet</p>
			<p>Consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur</p>
			<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
			<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
			<p>Nullam id mollis arcu. Ut eget tempus massa. Etiam eu mauris id justo posuere elementum. Etiam venenatis semper massa vitae congue. Mauris tristique lorem pulvinar tellus tempus, et viverra nulla pellentesque. Donec convallis nulla risus, eu facilisis tortor laoreet ut. Vivamus sagittis, magna et tincidunt imperdiet, augue metus aliquam leo</p>

			<div class="section_date">
				01.02.2019 22:43
				<span>Admin</span>
			</div>
		</section>
		<section id="section_02">
			<h2> This is section 2</h2>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia 
			dolor sit amet</p>
			<p>Consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur</p>
			<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
			<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
			<p>Nullam id mollis arcu. Ut eget tempus massa. Etiam eu mauris id justo posuere elementum. Etiam venenatis semper massa vitae congue. Mauris tristique lorem pulvinar tellus tempus, et viverra nulla pellentesque. Donec convallis nulla risus, eu facilisis tortor laoreet ut. Vivamus sagittis, magna et tincidunt imperdiet, augue metus aliquam leo</p>
			<div class="section_date">
				01.02.2019 22:43
				<span>Admin</span>
			</div>
		</section>
		<section id="section_03">
			<h2> This is section 3</h2>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia 
			dolor sit amet</p>
			<p>Consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur</p>
			<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
			<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
			<p>Nullam id mollis arcu. Ut eget tempus massa. Etiam eu mauris id justo posuere elementum. Etiam venenatis semper massa vitae congue. Mauris tristique lorem pulvinar tellus tempus, et viverra nulla pellentesque. Donec convallis nulla risus, eu facilisis tortor laoreet ut. Vivamus sagittis, magna et tincidunt imperdiet, augue metus aliquam leo</p>
			<div class="section_date">
				01.02.2019 22:43
				<span>Admin</span>
			</div>
		</section>	

		<div class="addOldNews">Показать больше...</div>	
	</main>

	<div id="stop" class="scrollTop"></div>

	<footer class="flex-rw">
		<ul class="footer-list-top">
			<li>
				<h4 class="footer-list-header">About Pavilion</h4></li>
				<li><a href='/shop/about-mission' class="generic-anchor footer-list-anchor" itemprop="significantLink">GET TO KNOW US</a></li>
				<li><a href='/promos.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">PROMOS</a></li>
				<li><a href='/retailers/new-retailers.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">BECOME A RETAILER</a></li>

				<li><a href='/job-openings.html' itemprop="significantLink" class="generic-anchor footer-list-anchor">JOB OPENINGS</a></li>

				<li><a href='/shop/about-show-schedule' class="generic-anchor footer-list-anchor" itemprop="significantLink">EVENTS</a></li>
			</ul>
			<ul class="footer-list-top">
				<li>
					<h4 class="footer-list-header">The Gift Selection</h4></li>


					<li><a href='/Angels/cat/id/70' class="generic-anchor footer-list-anchor">ANGEL FIGURINES</a></li>
					<li><a href='/Home-Decor/cat/id/64' class="generic-anchor footer-list-anchor">HOME DECOR</a></li>
					<li><a href='/Mugs/cat/id/32' class="generic-anchor footer-list-anchor">MUGS</a></li>
					<li><a href='/Pet-Lover/cat/id/108' class="generic-anchor footer-list-anchor">PET LOVER</a></li>
					<li><a href='/Ladies-Accessories/cat/id/117' class="generic-anchor footer-list-anchor" target="_blank">HANDBAGS & JEWELRY</a></li>
				</ul>
				<ul class="footer-list-top">
					<li id='help'>
						<h4 class="footer-list-header">Please Help Me</h4></li>
						<li><a href='/shop/about-contact' class="generic-anchor footer-list-anchor" itemprop="significantLink">CONTACT</a></li>
						<li><a href='/faq.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">FAQ</a></li>
						<li id='find-a-store'><a href='/shop/store-locator' class="generic-anchor footer-list-anchor" itemprop="significantLink">STORE LOCATOR</a></li>
						<li id='user-registration'><a href='/shop/user-registration?URL=' class="generic-anchor footer-list-anchor" itemprop="significantLink">NEW USERS</a></li>
						<li id='order-tracking'><a href='/shop/order-status' itemprop="significantLink" class="generic-anchor footer-list-anchor">ORDER STATUS</a></li>
					</ul>
					<section class="footer-social-section flex-rw">
						<span class="footer-social-overlap footer-social-connect">
							Мы <span class="footer-social-small">в</span> Соц. Сетях
						</span>
						<span class="footer-social-overlap footer-social-icons-wrapper">
							<a href="https://www.pinterest.com/paviliongift/" class="generic-anchor" target="_blank" title="Pinterest" itemprop="significantLink"><i class="fa fa-pinterest"></i></a>
							<a href="https://www.facebook.com/paviliongift" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>
							<a href="https://twitter.com/PavilionGiftCo" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fa fa-twitter"></i></a>
							<a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
							<a href="https://www.youtube.com/channel/UCYgUODvd0qXbu_LkUWpTVEg" class="generic-anchor" target="_blank" title="Youtube" itemprop="significantLink"><i class="fa fa-youtube"></i></a>
							<a href="https://plus.google.com/+Paviliongift/posts" class="generic-anchor" target="_blank" title="Google Plus" itemprop="significantLink"><i class="fa fa-google-plus"></i></a>
						</span>
					</section>
					<section class="footer-bottom-section flex-rw">
						<div class="footer-bottom-wrapper">   
							<i class="fa fa-copyright" role="copyright">

							</i> 2019 Azimut <address class="footer-address" role="company address">Lviv, UA</address><span class="footer-bottom-rights"></span>
						</div>
						<div class="footer-bottom-wrapper">
							<a href="/terms-of-use.html" class="generic-anchor" rel="nofollow">Terms</a> | <a href="/privacy-policy.html" class="generic-anchor" rel="nofollow">Privacy</a>
						</div>
					</section>
				</footer>
			</body>
			</html>