<div class="wrapper_title">Навигация</div>
<div class="pre_line"></div>
<a href="#" id="activity">Мероприятия</a>
<a href="#" id="calendar">Календарь</a>
<a href="#" id="Numeral">Цифра</a>
<a href="#" id="Communities">Сообщества</a>
<a href="/roundtables" id="Round_tables">Круглые столы</a>
<a href="/market" id="market">Барахолка</a>
<a href="#" id="miscellanea">Разное</a>
<a href="#" id="Technical_section">Технический раздел</a>