<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Добавить техническую информацию</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/metisMenu.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="assets/css/typography.css">
    <link rel="stylesheet" href="assets/css/default-css.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <div class="page-container">
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <h3 style="color: white;">Админка</h3>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">         
                          <li><a href="/PanelIndex"><i class="fa fa-home"></i> <span>Главная</span></a></li>    
                          <li>
                            <a href="javascript:void(0)" aria-expanded="false"><i class="fa fa-info"></i><span>О нас</span></a>
                            <ul class="collapse" style="height: 0px;">
                                <li><a href="/PanelAbout">Информация</a></li>
                                <li><a href="/PanelGallery">Фотогалерея</a></li>
                                <li><a href="/PanelContacts">Контакты</a></li>
                            </ul>
                        </li>          
                        <li><a href="/PanelMarket"><i class="fa fa-shopping-cart"></i><span>Барахолка</span></a></li>                            
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-newspaper-o"></i><span>Новости</span></a>
                            <ul class="collapse">
                                <li><a href="/PanelNews?page=1">Новости</a></li>
                                <li><a href="/PanelNews?page=1">VHF</a></li>
                                <li><a href="/PanelNews?page=1">HF</a></li>
                                <li><a href="/PanelNumeral?page=1">Цифра</a></li>
                                <li><a href="/PanelOthers?page=1">Разное</a></li>
                            </ul>
                        </li>
                        <li><a href="/PanelRoundTables"><i class="fa fa-language"></i><span>Круглые столы</span></a></li>
                        <li><a href="/PanelLanguage"><i class="fa fa-language"></i><span>Локализация</span></a></li>
                        <li><a href="/PanelCalendar"><i class="fa fa-calendar"></i><span>Календарь</span></a></li>
                        <li class="active"><a href="/PanelTechnical?page=1"><i class="fa fa-cubes"></i><span>Технический раздел</span></a></li>                    
                        <li><a href="/PanelUsers"><i class="fa fa-users"></i><span>Пользователи</span></a></li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="false"><i class="fa fa-gear"></i><span>Система</span></a>
                            <ul class="collapse" style="height: 0px;">
                                <li><a href="#">Настройки</a></li>
                                <li><a href="/PanelDB">База данных</a></li>
                            </ul>
                        </li>
                        <li><a href="/" target="_blank" style="color: #e9eabf;"><i class="fa fa-desktop"  style="color: #e9eabf;"></i><span style="color: #e9eabf;">Вернутся на сайт</span></a></li>
                        <li><a href="#" style="color: red;" data-toggle="modal" data-target="#devmessagemodal"><i class="fa fa-exclamation" style="color: red;"></i><span style="color: red;">Пожаловатся разработчику</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="header-area">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-8 clearfix">
                    <div class="nav-btn pull-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="search-box pull-left">
                        <form action="#">
                            <input type="text" name="search" placeholder="Search..." required>
                            <i class="ti-search"></i>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-sm-4 clearfix">
                    <ul class="notification-area pull-right">
                        <li id="full-view"><i class="ti-fullscreen"></i></li>
                        <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                        <li class="dropdown">
                            <%- include ./panel_includes/panel_notify.ejs %> 
                        </li>                            
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumbs-area clearfix">
                        <h4 class="page-title pull-left">Добавить новость</h4>
                    </div>
                </div>
                <div class="col-sm-6 clearfix">
                    <%- include ./panel_includes/panel_session.ejs %> 
                </div>
            </div>
        </div>
        <div class="main-content-inner">
          <!-- Тут будет контент -->
          <div class="row">
            <div class="col-lg-6 col-ml-12">
                <div class="row">
                    <!-- Textual inputs start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Добавить техническую информацию</h4>
                                <p class="text-muted font-14 mb-4">Заполните данные для добавления записи</p>
                                <div class="form-group">
                                    <label for="example-text-input" class="col-form-label">Заголовок</label>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <!-- <div class="card-body"> -->
                                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Русский</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Украинский</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Английский</a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content mt-3" id="myTabContent">
                                                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                            <div class="form-group">
                                                                <label for="example-textarea-input" class="col-form-label">Введите заголовок на Русском языке</label>
                                                                <textarea class="form-control" aria-label="With textarea" id="example-text-input-RU" placeholder="Введите текст"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                                            <div class="form-group">
                                                                <label for="example-textarea-input" class="col-form-label">Введіть заголовок на Українській мові</label>
                                                                <textarea class="form-control" aria-label="With textarea" id="example-text-input-UA" placeholder="Введите текст"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                                            <div class="form-group">
                                                                <label for="example-textarea-input" class="col-form-label">Write title for English language</label>
                                                                <textarea class="form-control" aria-label="With textarea" id="example-text-input-EN" placeholder="Введите текст"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <!-- </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>                                  

                                <div class="form-group">
                                    <label for="example-date-input" class="col-form-label">Дата</label>
                                    <input class="form-control" type="date" value="2018-03-05" id="example-date-input" readonly>
                                </div>
                                <script type="text/javascript">
                                    document.getElementById("example-date-input").valueAsDate = new Date();
                                </script>

                                <div class="form-group">
                                    <label class="col-form-label">Введите текст на Русском языке</label>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <!-- <div class="card-body"> -->
                                                    <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" id="home-tab1" data-toggle="tab" href="#home1" role="tab" aria-controls="home" aria-selected="true">Русский</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="profile-tab1" data-toggle="tab" href="#profile1" role="tab" aria-controls="profile" aria-selected="false">Украинский</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="contact-tab1" data-toggle="tab" href="#contact1" role="tab" aria-controls="contact" aria-selected="false">Английский</a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content mt-3" id="myTabContent">
                                                        <div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home-tab">
                                                            <div class="form-group">
                                                                <label for="example-textarea-input" class="col-form-label">Введите текст на Русском языке</label>
                                                                <textarea class="form-control" aria-label="With textarea" id="example-textarea-input-RU" placeholder="Введите текст"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="profile-tab">
                                                            <div class="form-group">
                                                                <label for="example-textarea-input" class="col-form-label">Введіть текст на Українській мові</label>
                                                                <textarea class="form-control" aria-label="With textarea" id="example-textarea-input-UA" placeholder="Введите текст"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="contact1" role="tabpanel" aria-labelledby="contact-tab">
                                                            <div class="form-group">
                                                                <label for="example-textarea-input" class="col-form-label">Write text for English language</label>
                                                                <textarea class="form-control" aria-label="With textarea" id="example-textarea-input-EN" placeholder="Введите текст"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <!-- </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Логотип записи</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01" onchange="selectNewsLogo()">
                                        <label class="custom-file-label" for="inputGroupFile01">Выбрать файл</label>
                                    </div>
                                </div>                                  
                            </div>
                        </div>
                    </div>
                    <!-- Textual inputs end -->
                </div>
            </div>

            <div class="col-lg-6 col-ml-12">
                <div class="row">
                    <!-- Textual inputs start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Добавить изображения</h4>
                                <p class="text-muted font-14 mb-4">Выберите изображения для новости</p>
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="newsImage1" onchange="selectNewsContentImage(this,0)">
                                        <label class="custom-file-label" for="newsImage1">Выбрать файл</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="newsImage2" onchange="selectNewsContentImage(this,1)">
                                        <label class="custom-file-label" for="newsImage2">Выбрать файл</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="newsImage3" onchange="selectNewsContentImage(this,2)">
                                        <label class="custom-file-label" for="newsImage3">Выбрать файл</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="newsImage4" onchange="selectNewsContentImage(this,3)">
                                        <label class="custom-file-label" for="newsImage4">Выбрать файл</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="newsImage5" onchange="selectNewsContentImage(this,4)">
                                        <label class="custom-file-label" for="newsImage5">Выбрать файл</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="newsImage6" onchange="selectNewsContentImage(this,5)">
                                        <label class="custom-file-label" for="newsImage6">Выбрать файл</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="newsImage7" onchange="selectNewsContentImage(this,6)">
                                        <label class="custom-file-label" for="newsImage7">Выбрать файл</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="newsImage8" onchange="selectNewsContentImage(this,7)">
                                        <label class="custom-file-label" for="newsImage8">Выбрать файл</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Textual inputs end -->
                </div>
            </div>
            <div class="col-lg-12 col-ml-12 mt-5">
                <div class="row">
                    <button type="button" class="btn btn-success mb-2 col-12" onclick="saveNewTechnical()">Опубликовать</button>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ./panel_includes/dev_message.ejs %>
<footer>
    <div class="footer-area">
        <p>© Copyright 2019. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
    </div>
</footer>
</div>
<script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/metisMenu.min.js"></script>
<script src="assets/js/jquery.slimscroll.min.js"></script>
<script src="assets/js/jquery.slicknav.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
</script>
<script src="assets/js/line-chart.js"></script>
<script src="assets/js/pie-chart.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/scripts.js"></script>
<script src="assets/js/methods.js"></script>
<script type="text/javascript">
    var posivka = '<%= sessionPoziv %>';
    $.post('/getUserAva', {user: posivka},function(res){
        $('#AVATAR').attr({"src":"../../../data/avatars/"+res.ava})
    });
</script>
</body>

</html>
